/* ======================================================== */
/*                         CONSTANTS                        */
/* ======================================================== */

:root {
    --site_background_color: white;
    --site_primary_text_color: #15141a;
    --site_secondary_text_color: #4d8bbe;
    --accent_color: #4d8bbe;
    --neutral_color: #ededf0;
    --good_color: #2e5a14;
    --bad_color: #a50034;
    --button_text_color: #eee;
    --button_background_color: #333;
    --frame_color: #999;

    --navbar_background_color: #ddd;
    
    --highlight_foreground_color: #fff;

    --radius: 3px;
}


/* ======================================================== */
/*                      MAIN ELEMENTS                       */
/* ======================================================== */

body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    color: var(--site_primary_text_color);
    background-color: var(--site_background_color);
    margin: 0;
}

h1, h2, h3 {
    font-family:'Times New Roman', 'Georgia', Times, serif;
    font-variant-ligatures: normal;
}

h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}
h3 {
    font-size: large;
}

a {
    color: var(--site_primary_text_color);
}

a:visited {
    color: var(--site_secondary_text_color);
}

a:hover {
    filter: brightness(130%);
}

.website_header {
    max-width: 1200px;
    margin: 0 auto;
}

.website_content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.website_footer {
    max-width: 1200px;
    margin: 1em auto;
    border-top: 1px solid var(--neutral_color);
}

/* The banner provided on content pages. Contains log-in button, today's date, site logo, nav bar, etc. */
.website_full_banner {
    width: 100%;
}

.website_logo {
    color: var(--site_primary_text_color);
    text-align: center;
    font-family: 'Times New Roman', 'Georgia', Times, serif;
    font-size: xx-large;
    padding: 0.25em 0;
}

.website_logo a {
    color: var(--site_primary_text_color);
    text-decoration: none;
}
.website_logo a:visited {
    color: var(--site_primary_text_color);
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: var(--site_primary_text_color);
}
nav a:visited {
    color: var(--site_primary_text_color);
}

nav menu {
    padding: 0;
}

nav menu li {
    display: inline-block;
    list-style-type: none;
}

nav menu li + li {
    padding-left: 1.5em;
}

.website_nav {
    border-bottom: 3px double var(--site_primary_text_color);
}

.website_nav a {
    border-radius: var(--radius);
    padding: 0.5em 1em;
}

.website_nav a:hover {
    background-image: linear-gradient(var(--site_background_color), var(--frame_color));
}

.website_header h1 {
    text-align: center;
}


.page_header {
    margin-bottom: 1em;
    border-bottom: 1px solid var(--neutral_color);
    padding-bottom: 1em;
}
.page_title h1 {
    margin: 0 3em;
}
.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: flex-start;
}
.column_fix {
    flex-grow: 0;
    flex-shrink: 0;
    /* border: 1px dotted red; */
}
.column_grow {
    flex-grow: 1;
    /* border: 1px dotted green; */
}
.center {
    text-align: center;
}




/* ======================================================== */
/*                    FORMS AND BUTTONS                     */
/* ======================================================== */

/* For content that should not take the whole width of the page.
   meant for login form, maybe errors, narrow centered on the page. */
.dialog {
    display: flex;
    justify-content: center;
}

.dialog_title {
    color: var(--site_secondary_text_color);
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
}

form.small_form {
    margin-bottom: 0.5em;
    border: 1px solid var(--neutral_color);
    border-radius: var(--radius);
    padding: 0.5em;
}
form.real_form {
    min-width: 500px;
    border: 2px solid var(--frame_color);
    border-radius: var(--radius);
    padding: 1em;
}

/* Group label and field together. */
.form_field + .form_field {
    margin-top: 0.5em
}

.form_buttons {
    margin: 1em 0 0 0;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: flex-start;
    display: flex;
    gap: 0.5em;
}

input, select {
    accent-color: var(--accent_color);
    display: inline-block;
    box-sizing: border-box;
    border-radius: var(--radius);
    border: 1px solid var(--accent_color);
    padding: 0.75em 1em;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
}

::placeholder {
    font-style: italic;
}

textarea {
    accent-color: var(--accent_color);
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    border-radius: var(--radius);
    border: 1px solid var(--accent_color);
    padding: 12px 20px;
}

/* Set a style for all buttons */
button {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--button_text_color);
    background-color: var(--button_background_color);
    font-size: medium;
    font-weight: bold;
    letter-spacing: 0.05em;
    border: none;
    border-radius: var(--radius);
    padding: 0.5em 1em;
}

button:hover {
    filter: brightness(130%);
}

/* For buttons that imply progress: post an article, log in, etc. */
button.good {
    background-color: var(--good_color);
}

/* For buttons that imply danger: cancel, delete article, unsubscribe, etc */
button.bad {
    background-color: var(--bad_color);
}

.button_row {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: flex-start;
    display: flex;
    gap: 0.5em;
}

/* =========================================== */
/*                    MISC                     */
/* =========================================== */

.full_width {
    width: 100%;
}

.category {
    color: var(--site_secondary_text_color);
    text-align: left;
    font-variant-caps: small-caps;
    font-weight: bold;
}

.book_title {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-decoration: underline;
    text-decoration-color: var(--neutral_color);
}
.by {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.author_name {
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: var(--neutral_color);
}

dt {
    color: var(--site_secondary_text_color);
    font-weight: bold;
}
dd + dt {
    margin-top: 1em;
}
ul {
    line-height: 2em;
}

blockquote {
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-size: larger; */
    font-style: italic;
    min-height: 2em;
    margin: 0.5em 1em;
    border-left: 2px solid var(--frame_color);
    border-radius: var(--radius);
}
blockquote::before {
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    content: '\201F';
    color: var(--frame_color);
    font-size: 2em;
    padding-top: 0.25em;
    padding-right: 0.25em;
}
