.rood {
    color: white;
    background-color: red;
}
.groen {
    color: white;
    background-color: green;
}
.blauw {
    color: white;
    background-color: blue;
}
.paars {
    color: white;
    background-color: purple;
}
