html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.premium {
    background-color: gold;
}

.error {
    color: red;
}

blockquote {
    border-left: 2px solid gray;
    padding-left: 8px;
}
